body {
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
}
.svg {
  display: block;
}

.label {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
}
.next {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.prev {
  position: absolute;
  bottom: 10px;
  right: 100px;
}
.is-disabled {
  color: #000;
  text-decoration: none;
  cursor: default;
}

.shape{
  fill: #000;
  opacity: 0.1;
  /* stroke: #0c0;
  stroke-width: 1px; */
}
.shape-container {
  fill: none;
}


/* .js-shape-0 {
  fill: red;
}
.js-shape-1 {
  fill: green;
}
.js-shape-2 {
  fill: blue;
}
.js-shape-3 {
  fill: yellow;
} */
