body {
  background: #000;
  color: #ddd;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

a,
a:visited {
  color: #fff;
  text-decoration: unerline;
}

.container {
  max-width: 700px;
  margin: 0 auto 5rem auto;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 5px double #eee;
}

.u-nobr {
  white-space: nowrap;
}
p {
  margin: 0 0 1em 0;
}

hr {
  border-bottom: 5px double #eee;
  margin: 2em 0 1.5em 0;
}

.subtitle {
  font-size: 1.5rem;
  border-bottom: 5px double #eee;
  margin: 2em 0 0.5em 0;
}
.label {
  display: block;
  font-size: 1.2rem;
}

form {
  text-align: center;
}
form p {
  line-height: 2;
}

.select,
.input {
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: none;
}
.select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  padding: 0.375rem 0.75rem;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  height: 2rem;
}

.input--number {
  width: 8rem;
}


.button {
  padding: 0.4rem 0.8rem;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: 5px solid #fff;

}
.button:hover {
  background: #fff;
  color: #000;
  border-color: #000;
  border-style: double;
  cursor: pointer;
}
